@charset "utf-8";
.l_Layout {
    width: 1154px;
    margin: 0 auto;
}
.tb_cart {
    border: 1px solid #eaeaea;
    margin-top: -1px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tb_cart th {
    padding: 24px 0;
    border-bottom: 1px solid #eaeaea;
}
.cart-list .select-all {
    cursor: pointer;
    display: inline-block;
}
.cart-list .select-all .icon {
    margin: 0 9px -12px 0;
    margin-left: 38px;
    position: relative;
    top: -7px;
    *left: 36px;
}
.cart-list th.t_Left {
    padding-left: 48px;
}
td, th {
    text-align: center;
}

.tb_cart th {
    padding: 24px 0;
    border-bottom: 1px solid #eaeaea;
}
.tb_cart td, .tb_cart th {
    border-top: 1px dotted #eaeaea;
    border-bottom: 1px dotted #eaeaea;
    font-size: 14px;
    color: #777;
}
.tb_cart td {
    padding: 12px 0;
}
.icon_add, .icon_check, .icon_del {
    width: 22px;
    height: 22px;
}
.icon {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat!important;
}
.icon_check, .icon_check_on{
    background-image: url(../img/icon.less.png);
    background-position: -1155px -24px;

}
.cart-item {
    *zoom: 1;
    text-align: left;
    padding: 12px;
}
.cart-item img {
    float: left;
    border: 1px solid #eaeaea;
    margin: 0 18px 0 0;
}
.cart-item h3 {
    font-size: 14px;
    padding: 32px 0 0;
    line-height: 22px;
}
a:visited {
    color: #666;
    text-decoration: none;
}
.cart-item p {
    margin: 6px 0;
}

.cart-list .number {
    *zoom: 1;
    margin: 0 auto;
    text-align: center;
    width: 132px;
}
input, textarea {
    outline: 0;
    margin: 0;
    padding: 0;
}
button, input, textarea {
    font-size: 12px;
    margin: 0;
    padding: 2px;
    vertical-align: middle;
    line-height: 1em;
}
.number input {
    border: 1px solid #eaeaea;
    float: left;
    border-left: 0;
    border-right: 0;
    width: 56px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
}
.number span {
    border: 1px solid #eaeaea;
    padding: 12px;
    height: 7px;
    line-height: 0;
    float: left;
    cursor: pointer;
    text-align: center;
}
.cart-list h6 {
    margin-top: 9px;
    font-size: 14px;
}
.c_Highlight, .c_Highlight a, a .c_Highlight {
    color: #fc5600;
}
.i_Btn_delete:link, .i_Btn_delete:visited {
    color: #999;
    font-size: 24px;
}


.my-order-amount {
    padding: 12px 0;
    text-align: right;
}
.my-order-amount p {
    line-height: 28px;
}
.my-order-amount span {
    display: inline-block;
    width: 120px;
    text-align: left;
}
.my-order-amount strong {
    font-size: 20px;
}
.my-order-amount span {
    display: inline-block;
    width: 120px;
    text-align: left;
}
a {
    color: #666;
    text-decoration: none;
}
.cart-list .i_Btn_big {
    width: 120px;
}
.my-order-amount .i_Btn_big {
    margin: 12px 24px 0;
}
.blank24 {
    height: 24px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.i_Btn_big {
    font-size: 18px;
    padding: 0 32px;
    border: none;
    height: 48px;
    line-height: 48px;
}
.i_Btn {
    text-align: center;
    padding: 6px 12px;
    background-color: #fc5600;
    color: #fff!important;
    font-size: 14px;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.zfb{
    width: 300px;
    height: 500px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    display: none;
}
.zfb img{
    height: 100%;
    width: 100%;
}




